.registration {
    display: flex;
}
.sing-up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100vh;
    background: white;
}
.sing-up-form {
    width: 366px;
}
.sing-up-form h1 {
    font-size: 36px;
    font-weight: 400;
    line-height: 49px;
    color: #344472;
    margin: 0;
}
.sing-up-form__name {
    padding-top: 24px;
}
.sing-up-form__login {
    padding-top: 24px;
}
.sing-up-form__password {
    padding-top: 24px;
}
.sing-up-form__check {
    padding-top: 24px;  
}
.sing-up-form__button {
    padding-top: 24px;
    display: flex;
    justify-content: center;
}
.sing-up-form__link {
    padding-top: 24px;
    display: flex;
    justify-content: center;
}
.sing-up-form__link p {
    margin: 0;
    color: #707070;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}


.sing-up-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100vh;
    background: #F5FBFF;
}