.players-card {
    display: flex;
    width: 364px;
    height: 380px;
    border-radius: 4px;
    background: linear-gradient(276.45deg, #393939 0%, #707070 100.28%);
    flex-direction: column;
    justify-content: space-between;
}
.players-card__photo {
    display: flex;
    justify-content: center;
    padding-top: 73px;
}
.players-card__info {
    width: 364px;
    height: 100px;
    background: #303030;
}

.players-card__info h2 {
    color: white;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding-top: 24px;
}
.players-card__info p {
    color: #9C9C9C;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    margin: 0;
    padding-top: 3px;
}
.players-card__info span {
    color: #FF5761;
}