.react-select-multi__control {
    border-radius: 4px;
}
.react-select-multi__control--is-focused {
    box-shadow: none !important;
    border: 0.5px solid #D1D1D1 !important;
}
.react-select-multi__multi-value {
    color: white !important;
    background: #E4163A !important;
}
.react-select-multi__multi-value__label {
    color: white !important;
}

.react-select-multi__menu {
    color: #9C9C9C;
}
.react-select-multi__option:hover {
    background: #FF768E;
    color: white;
}

