.pagination {
    display: flex;
}
.pagination-item {
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    color: #707070;
    border-radius: 4px;
    cursor: pointer;
}
.pagination-link {
    display: block;
    padding: 10px 16px 10px 16px;
}
.pagination-item:not(.active-pagination):hover {
    background: #F6F6F6;
}

.active-pagination {
    background: #E4163A;
    color: white;
}
